@inherits AuthenticationBase
@page "/authentication/{action}" 
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action" />

<h3>LoginPage</h3>

@code {

}
