@page "/Recipes"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<FoodApp.Client.PageTemplates.ListPage Title="Recipes">
    <Loader IsLoaded="@(recipes != null)" Size="Size.Large">
        <Table TableHeaders="tableHeaders"
               TableTemplates="tableTemplates"
               TableValues="tableValues">
        </Table>
        <div class="d-flex justify-end mt-3">
            <MudButton ButtonType="ButtonType.Button"
                       OnClick="ShowAddRecipe"
                       Variant="Variant.Filled"
                       Color="Color.Primary">Add Recipe</MudButton>
        </div>
    </Loader>
</FoodApp.Client.PageTemplates.ListPage>