@page "/Inventory"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<FoodApp.Client.PageTemplates.ListPage Title="Pantry" IsSaveVisible="false" >
    <FoodApp.Client.Components.Foods.FoodForm 
                                              Food="@Food" 
                                              OnFoodsChange="@Update" 
                                              @ref="FoodForm">
    </FoodApp.Client.Components.Foods.FoodForm>
    <MudDivider Class="mt-4 mb-4"></MudDivider>

    <MudText Typo="Typo.subtitle1">Your Pantry</MudText>
    <MudSimpleTable>
        <thead>
            <tr>
                <th>Name</th>
                <th>On Hand</th>
            </tr>
        </thead>
        <tbody>
            @if (foods == null)
            {
                <MudProgressCircular></MudProgressCircular>
            }
            else if (foods.Count() == 0)
            {
                <tr>You don't have any items in your pantry. Add one above.</tr>
            }
            else
            {
                @foreach (var food in foods.OrderBy(f => f.Name))
                {
                    var f = food;
                    <tr @onclick="() => BeginEditingFood(f)">
                        <td>@food.Name</td>
                        <td>@($"{food.AmountOnHand.Value:F2} {food.QuantityType}")</td>
                    </tr>
                }
            }
        </tbody>
    </MudSimpleTable>
</FoodApp.Client.PageTemplates.ListPage>