<ModelForm 
    Title="@(IsNew ? "Add New Food" : $"Editing {_food.Name}")"
    IsNew="@(IsNew)"
    OnSave="SaveFood"
    OnCancel="Clear"
    OnDelete="DeleteFood">
        <MudTextField 
                T="string"
                Label="Name"
                Required="true"
                @bind-Value="_food.Name"
                name="Food.Name" />
        <div>
            <MudTextField 
                    T="decimal?"
                    Label="On Hand"
                    Required="true"
                    @bind-Value="_food.AmountOnHand"
                    name="Food.AmountOnHand"
                    Format="F2" />
            @*FUTURE: Replace this with an auto complete dropdown component with add support*@
            <MudTextField
                    Label="Units" 
                    Required="true" 
                    @bind-Value="_food.QuantityType" 
                    name="Food.Units" />
        </div>
</ModelForm>